<section class="above-fold">
    <div class="above-fold__content">
        <div class="ml6">
            <div class="text-wrapper">
                <p class="above-fold__title">Managing business payments has never been easier</p>
            </div>
        </div>
        <div class="ml3">
            <div class="text-wrapper">
                <p class="above-fold__text"> Yet bed any for travelling assistance indulgence unpleasing. Not
                    thoughts all exercise blessing. Indulgence way everything.
                </p>
            </div>
        </div>

        <div class="above-fold__btns"> <a class="above-fold__btn" href="#">Our proccess</a>
            <div class="above-fold__player"><span class="above-fold__triangle"></span></div><span
                class="above-fold__desc"> See how it works</span>
        </div>
    </div>
    <div class="above-fold__form-wrapper">
        <div class="above-fold__form-desc">Get started for free</div>
        <form class="above-fold__form" action=""><input class="above-fold__input" type="email"
                placeholder="Email Address" required /><input class="above-fold__input" type="password"
                placeholder="Password" required /><input class="above-fold__input above-fold__input--submit"
                type="submit" />
        </form>
    </div>
</section>