<section class="blog">
	<div class="blog__wrapper">
		<div class="blog__headline">
			<p class="blog__title">Our Latest Blog Posts</p>
			<a href="#" class="blog__btn btn--purple">See All Blog Posts</a>
		</div>
		<div class="blog__content">
			<div class="blog__articles">
				<ul class="blog__list">
					<li class="blog-item">
						<a href="#">
							<div class="blog-item__img-wrapper">
								<img src="../../images/blog-img.svg" alt="blog img" class="blog-item__article-img">
							</div>
							<div class="blog-item__desc">
								<div class="blog-item__main-info">
									<p class="blog-item__date">08-11-2021</p>
									<p class="blog-item__category">Category</p>
								</div>
							</div>
							<p class="blog-item__name">Partiality on or continuing in particular principles</p>
							<p class="blog-item__text">End-to-end payments and financial management in a single
								solution.
								Meet
								the right platform to help realize.</p>
						</a>

					</li>
					<li class="blog-item">
						<a href="#">
							<div class="blog-item__img-wrapper">
								<img src="../../images/blog-img.svg" alt="blog img" class="blog-item__article-img">
							</div>
							<div class="blog-item__desc">
								<div class="blog-item__main-info">
									<p class="blog-item__date">08-11-2021</p>
									<p class="blog-item__category">Category</p>
								</div>
							</div>
							<p class="blog-item__name">Partiality on or continuing in particular principles</p>
							<p class="blog-item__text">End-to-end payments and financial management in a single
								solution.
								Meet
								the right platform to help realize.</p>
						</a>

					</li>
				</ul>
			</div>
			<ul class="aside">
				<li class="aside__item">
					<div class="aside__img-wrapper">
						<img src="../../images/blog-img-little.svg" alt="blog img" class="aside__img">
					</div>
					<div class="aside__text-wrapper">
						<div class="aside__desc">
							<div class="blog-item__main-info">
								<p class="blog-item__date">08-11-2021</p>
								<p class="blog-item__category">Category</p>
							</div>
						</div>
						<a href="#">
							<p class="aside__name">Partiality on or continuing in particular principles</p>
						</a>
					</div>
				</li>
				<li class="aside__item">
					<div class="aside__img-wrapper">
						<img src="../../images/blog-img-little.svg" alt="blog img" class="aside__img">
					</div>
					<div class="aside__text-wrapper">
						<div class="aside__desc">
							<div class="blog-item__main-info">
								<p class="blog-item__date">08-11-2021</p>
								<p class="blog-item__category">Category</p>
							</div>
						</div>
						<a href="#">
							<p class="aside__name">Partiality on or continuing in particular principles</p>
						</a>
					</div>
				</li>
				<li class="aside__item">
					<div class="aside__img-wrapper">
						<img src="../../images/blog-img-little.svg" alt="blog img" class="aside__img">
					</div>
					<div class="aside__text-wrapper">
						<div class="aside__desc">
							<div class="blog-item__main-info">
								<p class="blog-item__date">08-11-2021</p>
								<p class="blog-item__category">Category</p>
							</div>
						</div>
						<a href="#">
							<p class="aside__name">Partiality on or continuing in particular principles</p>
						</a>
					</div>
				</li>
				<li class="aside__item">
					<div class="aside__img-wrapper">
						<img src="../../images/blog-img-little.svg" alt="blog img" class="aside__img">
					</div>
					<div class="aside__text-wrapper">
						<div class="aside__desc">
							<div class="blog-item__main-info">
								<p class="blog-item__date">08-11-2021</p>
								<p class="blog-item__category">Category</p>
							</div>
						</div>
						<a href="#">
							<p class="aside__name">Partiality on or continuing in particular principles</p>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>