<section class="company">
    <div class="company__title title-anime">Trusted By Over 100+ Startups and freelance business</div>
    <ul class="company__list">
        <li class="company__item"><img src="../../images/company.svg" /></li>
        <li class="company__item"><img src="../../images/company.svg" /></li>
        <li class="company__item"><img src="../../images/company.svg" /></li>
        <li class="company__item"><img src="../../images/company.svg" /></li>
        <li class="company__item"><img src="../../images/company.svg" /></li>
    </ul>
</section>