<section class="content">
    <div class="content__cards">
        <div class="card-first">
            <p class="card-first__title">100+ Verified Users</p>
            <ul class="card-first__list">
                <li class="card-first__item">
                    <div class="card-first__img"><img src="../../images/profile.svg" alt="profile" /></div>
                    <div class="card-first__wrapper">
                        <p class="card-first__name">Theresa Webb</p>
                        <p class="card-first__desc">Mentor of Web Design</p>
                    </div>
                </li>
                <li class="card-first__item">
                    <div class="card-first__img"><img src="../../images/profile.svg" alt="profile" /></div>
                    <div class="card-first__wrapper">
                        <p class="card-first__name">Theresa Webb</p>
                        <p class="card-first__desc">Mentor of Web Design</p>
                    </div>
                </li>
                <li class="card-first__item">
                    <div class="card-first__img"><img src="../../images/profile.svg" alt="profile" /></div>
                    <div class="card-first__wrapper">
                        <p class="card-first__name">Theresa Webb</p>
                        <p class="card-first__desc">Mentor of Web Design</p>
                    </div>
                </li>
            </ul>
            <div class="card-first__btn"><span class="card-first__btn-text">See More</span>
                <div class="arrow"><span></span></div>
            </div>
        </div>
        <div class="card-second">
            <div class="card-second__img"><img src="../../images/profile.svg" alt="profile" /></div>
            <p class="card-second__name">AR Shakir</p>
            <p class="card-second__desc">Mentor of Web Development</p>
            <div class="card-second__btn">contact</div>
        </div>
        <div class="content__check"> <img src="../../images/check.svg" alt="" /></div>
    </div>
    <div class="content__info">
        <p class="content__subtext">Why Choose Us</p>
        <p class="content__title">Thirty for remove plenty regard you summer though.</p>
        <p class="content__text">The its enable direct men depend highly. Ham windows sixteen who inquiry fortune demands.</p>
        <ul class="content__list">
            <li class="content__item">
                <p class="content__item-name">Get Live Support</p>
            </li>
            <li class="content__item">
                <p class="content__item-name">Get Live Support</p>
            </li>
            <li class="content__item">
                <p class="content__item-name">Get Live Support </p>
            </li>
        </ul>
    </div>
</section>