<section class="cta">
	<div class="cta__content">
		<p class="cta__subtext">Why Choose Us</p>
		<p class="cta__title">Partiality on or continue in the particular principles</p>
		<p class="cta__desc">End-to-end payments and financial management in a single solution. Meet the right platform
			to help realize.</p>
	</div>
	<div class="cta__form-wrapper above-fold__form-wrapper">
		<form class="above-fold__form" action="">
			<input class="above-fold__input" type="email" placeholder="Email Address" required>
			<input class="above-fold__input" type="password" placeholder="Password" required>
			<input class="above-fold__input above-fold__input--submit cta-btn" type="submit">
		</form>
	</div>
</section>