<footer class="footer">
	<div class="footer__wrapper">
		<div class="footer__info">
			<div class="footer__name">AR Shakir</div>
			<p class="footer__desc">
				Finance helps companies manage payments easily.
			</p>
			<ul class="footer__social-list">
				<li class="footer__social-list-item">
					<a href="#">
						<img src="../../images/linked-in.svg" alt="">
					</a>
				</li>
				<li class="footer__social-list-item">
					<a href="#">
						<img src="../../images/messanger.svg" alt="">
					</a>
				</li>
				<li class="footer__social-list-item">
					<a href="#">
						<img src="../../images/twitter.svg" alt="">
					</a>
				</li>
				<li class="footer__social-list-item">
					<a href="#">
						<img src="../../images/twoo.svg" alt="">
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__menu">
			<div class="footer__column">
				<p class="footer__column-title">Company</p>
				<ul class="footer__column-list">
					<li class="footer__column-item">
						<span>About us</span>
					</li>
					<li class="footer__column-item">
						<span>Careers</span>
					</li>
					<li class="footer__column-item">
						<span>Blog</span>
					</li>
					<li class="footer__column-item">
						<span>Pricing</span>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<p class="footer__column-title">Company</p>
				<ul class="footer__column-list">
					<li class="footer__column-item">
						<span>About us</span>
					</li>
					<li class="footer__column-item">
						<span>Careers</span>
					</li>
					<li class="footer__column-item">
						<span>Blog</span>
					</li>
					<li class="footer__column-item">
						<span>Pricing</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__form-wrapper">
			<p class="footer__title">Join Our Newsletter</p>
			<form action="" class="footer__form">
				<input type="email" class="footer__input" placeholder="Email" required>
				<input type="submit" class="footer__submit" placeholder="Subscribe">
			</form>
			<p class="footer__warning">
				* Will send you weekly updates for your better
				finance management.
			</p>
		</div>
	</div>
	<p class="footer__policy">
		Copyright @ AR Shakir 2022. All Rights Reserved.
	</p>
</footer>