<header class="header">
    <div class="header__logo"> <span>LogoName</span></div>
    <nav class="header__navigation">
        <ul class="header__list">
            <li class="header__item"><a class="header__link" href="#">Product</a>
                <div class="header__subnav">
                    <ul class="header__sublist">
                        <li class="header__subitem"><a class="header__sublink">sublink</a></li>
                    </ul>
                </div>
            </li>
            <li class="header__item"><a class="header__link" href="#">Template</a></li>
            <li class="header__item"><a class="header__link" href="#">Blog</a></li>
            <li class="header__item"><a class="header__link" href="#">Pricing</a></li>
        </ul>
    </nav>
    <div class="header__auth"><a class="header__signin">Sign in</a><a class="btn--purple">Start free </a></div>
    <img src="../../images/header-polygon-purple.svg" alt="header polygon purple" class="header__polygon-right">
    <img src="../../images/header-polygon-first.svg" alt="header polygon first" class="header__polygon-left--first">
    <img src="../../images/header-polygon-second.svg" alt="header polygon second" class="header__polygon-left--second">
</header>