<section class="proccess">
    <ul class="proccess__list">
        <li class="proccess__item"> <img class="proccess__img" src="../../images/proccess.svg" alt="proccess" />
            <p class="proccess__name">Led Ask Possible Mistress</p>
            <p class="proccess__desc">Connection has put impossible own apartments boisterous. At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by.</p><span class="proccess__number">1</span>
        </li>
        <li class="proccess__item"> <img class="proccess__img" src="../../images/proccess.svg" alt="proccess" />
            <p class="proccess__name">Led Ask Possible Mistress</p>
            <p class="proccess__desc">Connection has put impossible own apartments boisterous. At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by.</p><span class="proccess__number">2</span>
        </li>
        <li class="proccess__item"> <img class="proccess__img" src="../../images/proccess.svg" alt="proccess" />
            <p class="proccess__name">Led Ask Possible Mistress</p>
            <p class="proccess__desc">Connection has put impossible own apartments boisterous. At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by.</p><span class="proccess__number">3 </span>
        </li>
    </ul>
</section>	