<section class="stats">
    <div class="stats__wrapper">
        <p class="stats__title">Preference connect astonished </p>
        <ul class="stats__list">
            <li class="stats__item">
                <div class="stats__img"><img src="../../images/stats-icon.svg" alt="stats icon" /></div>
                <p class="stats__desc">Removed Enjoyed Explain</p>
            </li>
            <li class="stats__item">
                <div class="stats__img"><img src="../../images/stats-icon.svg" alt="stats icon" /></div>
                <p class="stats__desc">Removed Enjoyed Explain</p>
            </li>
            <li class="stats__item">
                <div class="stats__img"><img src="../../images/stats-icon.svg" alt="stats icon" /></div>
                <p class="stats__desc">Removed Enjoyed Explain</p>
            </li>
        </ul>
    </div>
</section>

