<section class="testimonials">
    <div class="testimonials__headline">
        <p class="testimonials__subtext">Testimonials</p>
        <p class="testimonials__text">Check what our clients are saying</p>
    </div>
    <div class="testimonials__content-wrapper">
        <div class="testimonials__swiper">
            <div class="testimonials__img">
                <img src="../../images/slider-photo.svg" alt="slider">
            </div>
            <div class="testimonials__slider-images">
                <img src="../../images/slider-photo.svg" alt="slider">
                <img src="../../images/slider-photo-2.svg" alt="slider">
            </div>
            <div class="testimonials__btns">
                <div class="btn-wrapper prev">
                    <button class="testimonials__btn--prev arrow"><span></span></button>
                </div>
                <div class="btn-wrapper next">
                    <button class="testimonials__btn--next arrow"><span></span></button>
                </div>
            </div>
            <div class="testimonials__quote">
                <img src="../../images/quote.svg" alt="quote">
            </div>
        </div>
        <div class="testimonials__content">
            <div class="testimonials__quote-single">
                <img src="../../images/quote-single.svg" alt="quote single">
            </div>
            <p class="testimonials__title">Save Time Managing Social
                Media For Your Business</p>
            <div class="testimonials__desc">
                <p>Is be upon sang fond must shew. Really boy law county she unable her sister. Feet you off its like
                    like six. Among sex are leave law built now. In built table in an rapid blush. Merits behind on
                    afraid or warmly.</p>

                <p> Believing neglected so so allowance existence departure in. In design active temper be uneasy.</p>
            </div>
            <div class="testimonials__rate">
                <img src="../../images/star.svg" alt="star">
                <img src="../../images/star.svg" alt="star">
                <img src="../../images/star.svg" alt="star">
                <img src="../../images/star.svg" alt="star">
                <img src="../../images/star.svg" alt="star">
            </div>
            <div class="testimonials__people-name">
                <p class="testimonials__people-first-name">AR Shakir</p>
                <p class="testimonials__people-position">CEO GetNextDesign</p>
            </div>
        </div>
    </div>

</section>