<section class="value-props">
    <div class="value-props__headline">
        <p class="value-props__title">Push your code to product with ease.</p>
        <p class="value-props__text">Led ask possible mistress relation elegance eat likewise debating. By message or am nothing amongst chiefly address.</p>
    </div>
    <div class="value-props__content">
        <ul class="value-props__cards">
            <li class="value-props__card">
                <p class="value-props__name">Do believing oh disposing to supported</p>
                <p class="value-props__desc">Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.</p><a class="value-props__link">Read More<div class="arrow arrow-green"><span></span></div></a>
            </li>
            <li class="value-props__card">
                <p class="value-props__name">Do believing oh disposing to supported</p>
                <p class="value-props__desc">Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.</p><a class="value-props__link">Read More<div class="arrow arrow-green"><span></span></div></a>
            </li>
            <li class="value-props__card">
                <p class="value-props__name">Do believing oh disposing to supported</p>
                <p class="value-props__desc">Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.</p><a class="value-props__link">Read More<div class="arrow arrow-green"><span></span></div></a>
            </li>
        </ul><a class="value-props__btn btn--purple">More about platform</a>
    </div>
</section>