@use "../../utilities/global" as g;

.cta {
	margin-top: 100px;
	color: g.$white;
	display: flex;
	align-items: center;
	margin-bottom: 100px;
	@media screen and (max-width: 992px) {
		flex-direction: column;
	}

	&::after {
		content: "";
		position: absolute;
		background-color: g.$purple;
		height: 500px;
		width: 100%;
		bottom: 7%;
		left: 0;
		z-index: -1;
		@media screen and (min-width: 992px) {
			height: 8%;
			bottom: 8%;
		}
		@media (min-width: 576px) {
			height: 6.5%;
			bottom: 8%;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		width: 483px;
		color: g.$white;
		margin: 77px 0 75px 0;
		@media screen and (min-width: 768px) {
			margin-left: 0;
			margin-bottom: 0;
			margin-top: 0;
			width: 100%;
		}
	}
	&__title {
		margin-top: 15px;
		font-size: 50px;
		line-height: 60px;
		font-weight: 800;
	}
	&__desc {
		margin-top: 29px;
		font-size: 18px;
		line-height: 30px;
		font-weight: 600;
	}
	&__form-wrapper {
		margin-left: 235px;
		@media screen and (min-width: 768px) {
			margin-left: 0;
			margin-top: 20px;
		}
	}
	&__subtext {
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
	}
	input {
		opacity: 1;
	}
}

.cta-btn {
	border: 1px solid g.$orange;
	&:hover {
		color: g.$white;
	}
}
